body{
    background-color: ghostwhite;
}
.header{
    background-color: blueviolet;
    margin-bottom: 2px;
}
.content{
    margin-top: 63px;
}
.category{
    border-bottom: 1px gray;
}

.marleft15{
margin-left: 15px;
}
